:root {
  --color-dart: hsl(252, 30%, 17%);
  --color-light: hsl(252, 30%, 95%);
  --color-gray: hsl(252, 15%, 65%);
  --color-primary: hsl(252, 75%, 60%);
}

body {
  font-family: "Open Sans", sans-serif;
  color: var(--color-dart);
  background: var(--color-light);
  overflow-x: hidden;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.profile-photo {
  width: 2.7rem;
  aspect-ratio: 1/1;
  border-radius: 59%;
  overflow: hidden;
}

.btn {
  padding: 0.6rem 2rem;
  font-weight: 500;
  border-radius: 2rem;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 0.9rem;
}

.btn:hover {
  opacity: 0.8;
}

.btn-primary {
  margin-right: 4rem;
  color: white;
  background: var(--color-primary);
  border: 1px solid var(--color-primary);
}
.text-bold {
  font-weight: 500;
}
.text-muted {
  color: var(--color-gray);
}

/* Path: src\components\topbar\topbar.js */
nav {
  width: 100%;
  background: white;
  padding: 0.7rem 0;
  position: sticky;
  top: 0;
  z-index: 10;
}

nav .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .search-bar {
  background: var(--color-light);
  border-radius: 1rem;
  padding: 0.6rem 1rem;
}

Link {
  text-decoration: none;
  color: blue;
}

.logo {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--color-primary);
  text-decoration: none;
}
.log {
  margin-left: 4rem;
  text-decoration: none;
}
nav .search-bar input[type="search"] {
  background: transparent;
  width: 100%;
  margin-left: 1rem;
  font-size: 0.9rem;
  border: none;
}

nav .search-bar input[type="search"] ::placeholder {
  color: var(--color-gray);
}

.create {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.fa-gear {
  color: black;
  font-size: 1.5rem;
}
