.row {
  display: flex;
  flex-wrap: wrap;
}

.settingsTab {
  display: flex;
  flex-direction: column;
}

.settingsTabButtons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: white;
}

.card {
  box-shadow: 0 1px 15px 1px rgba(52, 40, 104, 0.08);
  display: flex;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #e5e9f2;
  border-radius: 0.2rem;
}

.card-header:first-child {
  border-radius: calc(0.2rem - 1px) calc(0.2rem - 1px) 0 0;
}

.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  color: inherit;
  background-color: #fff;
  border-bottom: 1px solid #e5e9f2;
}

.SettingsContainer {
  font-size: 18px;
}

.submitbutton {
  margin-top: 2rem;
}
