.post {
    margin: 20px auto;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    transition: height 0.3s ease;
}

.postWrapper {
    padding: 10px;
}

.postTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.postTopLeft {
    display: flex;
    align-items: center;
}

.postTopLeft div {
    display: flex;
    flex-direction: column;
}

.postProfileImg {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
}

.postUsername {
    font-weight: 600;
}

.postDate {
    font-size: 12px;
    color: gray;
}

.postTopRight {
    cursor: pointer;
}

.postCenter {
    margin-bottom: 10px;
}

.postText {
    font-size: 16px;
    margin-bottom: 10px;
}

.postImg {
    width: 100%;
    height: 500px;
    object-fit: contain;
    border-radius: 10px;
}

.postBottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}

.postBottomLeft {
    display: flex;
    align-items: center;
}

.likebtn {
    color: #0d6efd;
    font-size: 20px;
    margin-right: 5px;
    cursor: pointer;
}

.dislikebtn {
    color: rgb(255, 68, 68);
    font-size: 20px;
    margin-right: 5px;
    cursor: pointer;
}

.postLikeCounter {
    font-size: 14px;
    margin-left: 5px;
}

.postBottomRight {
    cursor: pointer;
}

.postCommenttext {
    font-size: 14px;
    color: gray;
}